<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abut-page</title>
</head>
<body style="background-color: blanchedalmond;">
    <article>
      
        <center><a href="{% url 'login' %}">Previous page...</a></center>
        <center><h1 style="color: brown;">About me!</h1></center>
    <p>Hello! Myself Neel i belongs to Odisha, Yes! i am a Odia guy who wants to learn new new things about tech, singing, writing anthology and poems, affermations, thoughts,etc...</p>
    </article>
</body>
</html>