<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body bgcolor="lightblue">
    <header><nav style><a href="{% url 'about' %}">About</a></nav></header>
    <center><h1>Admin page</h1></center>
   
    <section><form>
        LoginID <input type="text">
        <button>Enter</button>
        Password <input type="password">
        <button>Enter</button>
    </form></section>
</body>
</html>